!Red
!*color1: #a35b66
!*color9: #ab6b74
*color1: #ad4e5d
*color9: #d14d62
!Green
*color2: #99ab6f
*color10: #acb792
!Yellow
*color3: #ca9733
*color11: #ccaa69
!Blue
!*color4:  #495d6e
!*color12: #687987
*color4:  #345f83
*color12: #4c7ca3
!Magenta
*color5: #a063ad
*color13: #b865c9
!*color5: #825969
!*color13: #977381
!Cyan
!*color6: #839191
!*color14: #98A4A4
*color6: #81baba
*color14: #72c9c9
!White
*color7: #E0E0E0
*color15: #e5e5e5
URxvt*scrollTtyKeypress:	true
URxvt*scrollTtyOutput:	false
URxvt*scrollWithBuffer:	true
URxvt*secondaryScreen:	1
URxvt*secondaryScroll:	0
URxvt.background:	black
URxvt.clipboard.autocopy:	true
URxvt.font:	xft:MesloLGS NF:size=10
URxvt.foreground:	grey
URxvt.geometry:	80x25
URxvt.perl-ext-common:	selection-to-clipboard
URxvt.scrollstyle: plain
