URxvt*scrollTtyKeypress:	true
URxvt*scrollTtyOutput:	false
URxvt*scrollWithBuffer:	true
URxvt*secondaryScreen:	1
URxvt*secondaryScroll:	0
URxvt.background:	black
URxvt.clipboard.autocopy:	true
URxvt.font:	xft:MesloLGS NF:size=11
URxvt.foreground:	grey
URxvt.geometry:	80x25
URxvt.keysym.M-c:	perl:clipboard:copy
URxvt.keysym.M-v:	perl:clipboard:paste
URxvt.perl-ext-common:	selection-to-clipboard
URxvt.scrollstyle: plain
